<h1>New Task Creation</h1>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
 <br>
  <br>
   <br>
  <%= f.label :details %>
  <%= f.text_field :details %>
   <br>
  <br>
   <br>
  <%= f.label :Done? %>
  <%= f.check_box :completed %>
   <br>
  <br>
   <br>
  <%= f.submit %>
<% end %>
